#canvas {
  display: block;
  pointer-events: none;
  opacity: 0.9;
  /* animation: 120s rotation infinite; */
}

#svg {
  display: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg) scale(1);
  }

  12.5% {
    transform: rotate(90deg) scale(2);
  }

  25% {
    transform: rotate(180deg) scale(1);
  }

  37.5% {
    transform: rotate(90deg) scale(2);
  }

  50% {
    transform: rotate(0deg) scale(1);
  }

  62.5% {
    transform: rotate(-90deg) scale(2);
  }

  75% {
    transform: rotate(-180deg) scale(1);
  }

  87.5% {
    transform: rotate(-90deg) scale(2);
  }

  100% {
    transform: rotate(0deg) scale(1);
  }
}